In [125]:
import pandas as pd
import re

https://archive.ics.uci.edu/dataset/144/statlog+german+credit+data:

Additional Information

Two datasets are provided.  the original dataset, in the form provided by Prof. Hofmann, contains categorical/symbolic attributes and is in the file "german.data".   
 
For algorithms that need numerical attributes, Strathclyde University produced the file "german.data-numeric".  This file has been edited and several indicator variables added to make it suitable for algorithms which cannot cope with categorical variables.   Several attributes that are ordered categorical (such as attribute 17) have been coded as integer.    This was the form used by StatLog.

This dataset requires use of a cost matrix (see below)

Rows = Actual  
Columns = Predicted  

| Actual \ Predicted | Class 0 | Class 1 |
|--------------------|---------|---------|
| Class 0            |   1     |   2     |
| Class 1            |   5     |   0     |
(1 = Good,  2 = Bad)

The rows represent the actual classification and the columns the predicted classification.

It is worse to class a customer as good when they are bad (5), than it is to class a customer as bad when they are good (1).

In [126]:
curr_path = !pwd
curr_path = curr_path[0]
match = re.search(r'[^/\\]+$', curr_path)
print(f"last dir: {match.group()}")

last dir: notebooks

In [127]:
df = pd.read_csv('../data/german_credit_data/german.data', delim_whitespace=True)
df.head()

/var/folders/wc/n17tc0jd6058m722n3d1wlc00000gn/T/ipykernel_67464/3924229361.py:1: FutureWarning: The 'delim_whitespace' keyword in pd.read_csv is deprecated and will be removed in a future version. Use ``sep='\s+'`` instead
  df = pd.read_csv('../data/german_credit_data/german.data', delim_whitespace=True)

,A11,6,A34,A43,1169,A65,A75,4,A93,A101,...,A121,67,A143,A152,2,A173,1,A192,A201,1.1
0,A12,48,A32,A43,5951,A61,A73,2,A92,A101,...,A121,22,A143,A152,1,A173,1,A191,A201,2
1,A14,12,A34,A46,2096,A61,A74,2,A93,A101,...,A121,49,A143,A152,1,A172,2,A191,A201,1
2,A11,42,A32,A42,7882,A61,A74,2,A93,A103,...,A122,45,A143,A153,1,A173,2,A191,A201,1
3,A11,24,A33,A40,4870,A61,A73,3,A93,A101,...,A124,53,A143,A153,2,A173,2,A191,A201,2
4,A14,36,A32,A46,9055,A65,A73,2,A93,A101,...,A124,35,A143,A153,1,A172,2,A192,A201,1

In [128]:
df = pd.read_csv('../data/german_credit_data/german.data', delim_whitespace=True, header=None)
df.head()

/var/folders/wc/n17tc0jd6058m722n3d1wlc00000gn/T/ipykernel_67464/4245443178.py:1: FutureWarning: The 'delim_whitespace' keyword in pd.read_csv is deprecated and will be removed in a future version. Use ``sep='\s+'`` instead
  df = pd.read_csv('../data/german_credit_data/german.data', delim_whitespace=True, header=None)

,0,1,2,3,4,5,6,7,8,9,...,11,12,13,14,15,16,17,18,19,20
0,A11,6,A34,A43,1169,A65,A75,4,A93,A101,...,A121,67,A143,A152,2,A173,1,A192,A201,1
1,A12,48,A32,A43,5951,A61,A73,2,A92,A101,...,A121,22,A143,A152,1,A173,1,A191,A201,2
2,A14,12,A34,A46,2096,A61,A74,2,A93,A101,...,A121,49,A143,A152,1,A172,2,A191,A201,1
3,A11,42,A32,A42,7882,A61,A74,2,A93,A103,...,A122,45,A143,A153,1,A173,2,A191,A201,1
4,A11,24,A33,A40,4870,A61,A73,3,A93,A101,...,A124,53,A143,A153,2,A173,2,A191,A201,2

In [129]:
df[df.columns[-1]].unique()

array([1, 2])

In [130]:
len(df)

1000

In [131]:
df.dtypes

0     object
1      int64
2     object
3     object
4      int64
5     object
6     object
7      int64
8     object
9     object
10     int64
11    object
12     int64
13    object
14    object
15     int64
16    object
17     int64
18    object
19    object
20     int64
dtype: object

In [132]:
df_numeric = pd.read_csv('../data/german_credit_data/german.data-numeric', delim_whitespace=True, header=None)
df_numeric.head()

/var/folders/wc/n17tc0jd6058m722n3d1wlc00000gn/T/ipykernel_67464/3154384313.py:1: FutureWarning: The 'delim_whitespace' keyword in pd.read_csv is deprecated and will be removed in a future version. Use ``sep='\s+'`` instead
  df_numeric = pd.read_csv('../data/german_credit_data/german.data-numeric', delim_whitespace=True, header=None)

,0,1,2,3,4,5,6,7,8,9,...,15,16,17,18,19,20,21,22,23,24
0,1,6,4,12,5,5,3,4,1,67,...,0,0,1,0,0,1,0,0,1,1
1,2,48,2,60,1,3,2,2,1,22,...,0,0,1,0,0,1,0,0,1,2
2,4,12,4,21,1,4,3,3,1,49,...,0,0,1,0,0,1,0,1,0,1
3,1,42,2,79,1,4,3,4,2,45,...,0,0,0,0,0,0,0,0,1,1
4,1,24,3,49,1,3,3,4,4,53,...,1,0,1,0,0,0,0,0,1,2

In [133]:
df_numeric[df_numeric.columns[-1]].unique()

array([1, 2])

In [134]:
len(df_numeric)

1000

In [135]:
df_numeric.dtypes

0     int64
1     int64
2     int64
3     int64
4     int64
5     int64
6     int64
7     int64
8     int64
9     int64
10    int64
11    int64
12    int64
13    int64
14    int64
15    int64
16    int64
17    int64
18    int64
19    int64
20    int64
21    int64
22    int64
23    int64
24    int64
dtype: object

Target value distribution:

In [136]:
target_col = df_numeric.columns[-1]

class_counts = df_numeric[target_col].value_counts()
class_perc = df_numeric[target_col].value_counts(normalize=True) * 100

print("Counts:\n", class_counts)
print("Percentages:\n", class_perc)

Counts:
 24
1    700
2    300
Name: count, dtype: int64
Percentages:
 24
1    70.0
2    30.0
Name: proportion, dtype: float64

Basic statistic applied to dataset:

In [137]:
df_numeric.describe().T

     count    mean        std   min   25%   50%   75%    max
0   1000.0   2.577   1.257638   1.0   1.0   2.0   4.0    4.0
1   1000.0  20.903  12.058814   4.0  12.0  18.0  24.0   72.0
2   1000.0   2.545   1.083120   0.0   2.0   2.0   4.0    4.0
3   1000.0  32.711  28.252605   2.0  14.0  23.0  40.0  184.0
4   1000.0   2.105   1.580023   1.0   1.0   1.0   3.0    5.0
5   1000.0   3.384   1.208306   1.0   3.0   3.0   5.0    5.0
6   1000.0   2.682   0.708080   1.0   2.0   3.0   3.0    4.0
7   1000.0   2.845   1.103718   1.0   2.0   3.0   4.0    4.0
8   1000.0   2.358   1.050209   1.0   1.0   2.0   3.0    4.0
9   1000.0  35.546  11.375469  19.0  27.0  33.0  42.0   75.0
10  1000.0   2.675   0.705601   1.0   3.0   3.0   3.0    3.0
11  1000.0   1.407   0.577654   1.0   1.0   1.0   2.0    4.0
12  1000.0   1.155   0.362086   1.0   1.0   1.0   1.0    2.0
13  1000.0   1.404   0.490943   1.0   1.0   1.0   2.0    2.0
14  1000.0   1.037   0.188856   1.0   1.0   1.0   1.0    2.0
15  1000.0   0.234   0.423584   0.0   0.0   0.0   0.0    1.0
16  1000.0   0.103   0.304111   0.0   0.0   0.0   0.0    1.0
17  1000.0   0.907   0.290578   0.0   1.0   1.0   1.0    1.0
18  1000.0   0.041   0.198389   0.0   0.0   0.0   0.0    1.0
19  1000.0   0.179   0.383544   0.0   0.0   0.0   0.0    1.0
20  1000.0   0.713   0.452588   0.0   0.0   1.0   1.0    1.0
21  1000.0   0.022   0.146757   0.0   0.0   0.0   0.0    1.0
22  1000.0   0.200   0.400200   0.0   0.0   0.0   0.0    1.0
23  1000.0   0.630   0.483046   0.0   0.0   1.0   1.0    1.0
24  1000.0   1.300   0.458487   1.0   1.0   1.0   2.0    2.0

After reviewing both dataset - I've decided to go continue using only the german.data dataset - as I haven't found the exact column mapping scheme. 23 independent variables within the numeric dataset vs 19 of the original.

I will start of by assigning each column based on documentation.

In [138]:
df.columns = ['status_existing_acc', 'duration_months', 'credit_history', 'purpose', 'amount', 'saving_acc', 'present_empl_since', 'installment_rate_perc', 'personal_status_sex', 'other_debtors',
                        'residence_since', 'property', 'age', 'other_installment_plans', 'housing', 'no_existing_credits', 'job', 'no_people_liable', 'telephone', 'foreign_worker', 'target']

In [139]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
duration_months,1000.0,20.903,12.058814,4.0,12.0,18.0,24.00,72.0
amount,1000.0,3271.258,2822.736876,250.0,1365.5,2319.5,3972.25,18424.0
installment_rate_perc,1000.0,2.973,1.118715,1.0,2.0,3.0,4.00,4.0
residence_since,1000.0,2.845,1.103718,1.0,2.0,3.0,4.00,4.0
age,1000.0,35.546,11.375469,19.0,27.0,33.0,42.00,75.0
no_existing_credits,1000.0,1.407,0.577654,1.0,1.0,1.0,2.00,4.0
no_people_liable,1000.0,1.155,0.362086,1.0,1.0,1.0,1.00,2.0
target,1000.0,1.300,0.458487,1.0,1.0,1.0,2.00,2.0

In the describe function we miss quite a lot of features - obviously because they are categorical.

Let's identify those:

In [140]:
cat_cols = [col for col in df.columns if df[col].dtype == 'object']
cat_cols

['status_existing_acc',
 'credit_history',
 'purpose',
 'saving_acc',
 'present_empl_since',
 'personal_status_sex',
 'other_debtors',
 'property',
 'other_installment_plans',
 'housing',
 'job',
 'telephone',
 'foreign_worker']

In [141]:
df.columns

Index(['status_existing_acc', 'duration_months', 'credit_history', 'purpose',
       'amount', 'saving_acc', 'present_empl_since', 'installment_rate_perc',
       'personal_status_sex', 'other_debtors', 'residence_since', 'property',
       'age', 'other_installment_plans', 'housing', 'no_existing_credits',
       'job', 'no_people_liable', 'telephone', 'foreign_worker', 'target'],
      dtype='object')

In [146]:
df['status_existing_acc'].unique()

array(['A11', 'A12', 'A14', 'A13'], dtype=object)

Status of existing checking account
- A11 :      ... <    0 DM
- A12 : 0 <= ... <  200 DM
- A13 :      ... >= 200 DM / salary assignments for at least 1 year
- A14 : no checking account

In [149]:
df['duration_months'].unique()

array([ 6, 48, 12, 42, 24, 36, 30, 15,  9, 10,  7, 60, 18, 45, 11, 27,  8,
       54, 20, 14, 33, 21, 16,  4, 47, 13, 22, 39, 28,  5, 26, 72, 40])

In [151]:
df['credit_history'].unique()

array(['A34', 'A32', 'A33', 'A30', 'A31'], dtype=object)

Credit history
- A30 : no credits taken/ all credits paid back duly
- A31 : all credits at this bank paid back duly
- A32 : existing credits paid back duly till now
- A33 : delay in paying off in the past
- A34 : critical account/ other credits existing (not at this bank)

In [153]:
df['purpose'].unique()

array(['A43', 'A46', 'A42', 'A40', 'A41', 'A49', 'A44', 'A45', 'A410',
       'A48'], dtype=object)

Purpose
- A40 : car (new)
- A41 : car (used)
- A42 : furniture/equipment
- A43 : radio/television
- A44 : domestic appliances
- A45 : repairs
- A46 : education
- A47 : (vacation - does not exist?)
- A48 : retraining
- A49 : business
-A410 : others

In [159]:
df['amount'].nunique()

921

In [161]:
df['amount'].dtype

dtype('int64')

In [163]:
df['saving_acc'].unique()

array(['A65', 'A61', 'A63', 'A64', 'A62'], dtype=object)

Savings account/bonds
- A61 :          ... <  100 DM
- A62 :   100 <= ... <  500 DM
- A63 :   500 <= ... < 1000 DM
- A64 :          .. >= 1000 DM
- A65 :   unknown/ no savings account

In [164]:
df['present_empl_since'].unique()

array(['A75', 'A73', 'A74', 'A71', 'A72'], dtype=object)

Present employment since
- A71 : unemployed
- A72 :       ... < 1 year
- A73 : 1  <= ... < 4 years  
- A74 : 4  <= ... < 7 years
- A75 :       .. >= 7 years

In [165]:
df['installment_rate_perc'].unique()

array([4, 2, 3, 1])

Installment rate in percentage of disposable income - numerical

In [166]:
df['personal_status_sex'].unique()

array(['A93', 'A92', 'A91', 'A94'], dtype=object)

Personal status and sex
- A91 : male   : divorced/separated
- A92 : female : divorced/separated/married
- A93 : male   : single
- A94 : male   : married/widowed
- A95 : female : single

In [167]:
df['other_debtors'].unique()

array(['A101', 'A103', 'A102'], dtype=object)

Other debtors / guarantors
- A101 : none
- A102 : co-applicant
- A103 : guarantor

In [168]:
df['residence_since'].unique()

array([4, 2, 3, 1])


Present residence since - numerical

In [169]:
df['property'].unique()

array(['A121', 'A122', 'A124', 'A123'], dtype=object)

Property
- A121 : real estate
- A122 : if not A121 : building society savings agreement/ life insurance
- A123 : if not A121/A122 : car or other, not in attribute 6
- A124 : unknown / no property

In [170]:
df['age'].unique()

array([67, 22, 49, 45, 53, 35, 61, 28, 25, 24, 60, 32, 44, 31, 48, 26, 36,
       39, 42, 34, 63, 27, 30, 57, 33, 37, 58, 23, 29, 52, 50, 46, 51, 41,
       40, 66, 47, 56, 54, 20, 21, 38, 70, 65, 74, 68, 43, 55, 64, 75, 19,
       62, 59])

Age in years - numerical

In [171]:
df['other_installment_plans'].unique()

array(['A143', 'A141', 'A142'], dtype=object)

Other installment plans 
- A141 : bank
- A142 : stores
- A143 : none

In [172]:
df['housing'].unique()

array(['A152', 'A153', 'A151'], dtype=object)

Housing
- A151 : rent
- A152 : own
- A153 : for free

In [173]:
df['no_existing_credits'].unique()

array([2, 1, 3, 4])

Number of existing credits at this bank - numerical

In [174]:
df['job'].unique()

array(['A173', 'A172', 'A174', 'A171'], dtype=object)

Job
- A171 : unemployed/ unskilled  - non-resident
- A172 : unskilled - resident
- A173 : skilled employee / official
- A174 : management/ self-employed/ highly qualified employee/ officer

In [175]:
df['no_people_liable'].unique()

array([1, 2])

Number of people being liable to provide maintenance for - numerical

In [176]:
df['telephone'].unique()

array(['A192', 'A191'], dtype=object)

Telephone
- A191 : none
- A192 : yes, registered under the customers name

In [177]:
df['foreign_worker'].unique()

array(['A201', 'A202'], dtype=object)

foreign worker
- A201 : yes
- A202 : no

In [178]:
df['target'].unique()

array([1, 2])

In [143]:
# import seaborn as sns
# import matplotlib.pyplot as plt

# plt.figure(figsize=(12,8))
# sns.heatmap(df.corr(), cmap="coolwarm", center=0)
# plt.title("Correlation heatmap")
# plt.show()

In [144]:
# feature_cols = df_numeric.columns[:-1]

# sns.histplot(data=df_numeric, x=12, hue=target_col, bins=20, kde=True)
# plt.title("Age distribution by credit risk")
# plt.show()